@model List<puka.Models.ReportsModel>
@{
    ViewBag.Title = "NewReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table id="raportytbl" class="table table-hover tlo-tabelek" cellspacing="0">
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.ID">
                    <td>@item.title</td>
                    <td>@item.date</td>
                    <td>@item.author</td>
                    <td>@item.typestr</td>
                    <td>@item.forOUTSIDE</td>
                </tr>
            }
        </tbody>
    </table>
</div>

