<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  
        
        <div>
            <nav class="navbar navbar-default tlo ramka">
                <div class="container-fluid ramka">
                    <div class="navbar-header tlo">
                        <button type="button" class="navbar-toggle collapsed tlo" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand tlo " href="#">Start</a>
                    </div>
                    <div class="collapse navbar-collapse tlo ramka" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav tlo ">
                            <li><a href="/Home/NewReport">Nowy Raport</a></li>

                        </ul>
                       @* <form action="Home/RaportsView" class="navbar-form navbar-left" method="post">*@
                     
                        @using (Html.BeginForm("ReportsView", "Home"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-3">
                            @*    <input type="text" class="form-control top-margin" name="wyszukaj" />*@
                                @Html.TextBox("wyszukaj",null, new { @class = "form-control top-margin" })
                            </div>
                          <div class="col-md-1">
                              <input type="submit" class="btn btn-default top-margin" />
                          </div>}
                       @* </form>*@
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Wyszukiwanie Zaawansowanie</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    <div>

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
